body {
  background-color: #eee;
}

.card {
  text-align: center;
  margin: 2% auto;
  background-color: #fff;
  width: 900px;
  height: 650px;
  padding: 10px;
  box-shadow: 0 3px 6px 0 #ccc;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
}

.details {
  font-size: 1.15rem;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  background: black;
  color: white;
  border-radius: 8px;
}

.axislabel {
  font-weight: 900;
}

.monthlabel {
  font-size: 1rem;
}

.scales {
  font-size: 1rem;
}
